main {
  width: 480px;
  border: black 1px solid;
  padding-bottom: 20px;
}

form {
  margin: auto;
  text-align: center;
  line-height: 50px;
}

legend {
  font-weight: bold;
  width: 100%;
}

div {
  border: black solid 1px;
}


h1 {
  font-size: 25px;
  padding: 15px;
  width: 100%;
  text-align: center;
}


ul {
  width: 440px;
  height: 500px;
  margin: auto;
  text-align: center;
  margin-top: 40px;
  overflow: auto;
}

header ul {
  width: 480px;
  height: 50px;
  text-align: center;
  margin: auto;
  margin-top: 0px;
  overflow: hidden;
  /* display: inline-block; */
}

li {
  padding: 15px;
}

li:nth-of-type(2) {
  font-weight: bold;
  font-size: 18px;
}

header li {
  /* padding-top: 10px; */
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

header li:nth-of-type(2) {
  display: inline-block;
  font-weight: bold;
  font-size: 14px;
}

footer {
  width: 480px;
  height: 50px;
  margin: auto;
  background-color: black;
}